.grid{
  border: 1px solid black;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.square{
  border: 1px dotted black;
}

h1{
    align-content: center;
}